* {
    box-sizing: border-box;
}

.root {
    height: 300px;
    width: 400px;
    position: relative;
    margin: 0 auto;
    background: #00d300;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.child_1, .child_2 {
    height: 50px;
    width: 50px;
    background: #808080;
    position: absolute;
}

.child_1 {
    top: 0;
    right: 0;
}

.child_2 {
    bottom: 0;
    left: 0;
}